---
import { Image } from 'astro:assets';
import NavBar from '../components/NavBar.jsx';
import Footer from '../components/Footer.astro';
import ExperienceCard from '../components/ExperienceCard.astro';

import solace from '../content/solace.png';
import hydro from '../content/hydro.png';
import trainingworks from '../content/trainingworks.png';
import cahill from '../content/cahill.jpg';
import verafin from '../content/verafin.png';
import paradigm from '../content/paradigm.png';
import munstar from '../content/munstar-1.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
		<title>Ayman Islam</title>
	</head>
	<body class="bg-white">
		<NavBar client:load />
		<div id="home" class="flex items-center justify-center h-[40rem] bg-cover" style="background-image: url(/background.JPG);">
			<div class="max-w-[40rem] p-5 bg-gray-400/70">
				<div class="text-6xl font-bold">
					Ayman Islam
				</div>
				<div class="text-blue-600 text-3xl font-bold">
					Electrical Engineering Student
				</div>
				<div>
					I am a senior electrical engineering student attending the Memorial University of Newfoundland, expecting to graduate in May 2026. I have a strong interest in electronics, robotics, and PCB design. I develop electronics for various student projects, personal projects, and through my professional work. 
				</div>
			</div>
		</div>
		<div id="who" class="flex justify-center bg-gray-300">
			<div class="flex flex-col items-center py-10">
				<div class="text-2xl font-bold">Who Am I?</div>
				<hr class="w-16 h-1 my-4 border-0 bg-gray-700">
				<div class="relative mx-auto rounded-lg overflow-hidden">
					<!-- <Image height={256} src={profile} alt="Profile" /> -->
				</div>
				<div class="pt-4 px-5">
					<div class="text-blue-600 font-bold md:text-lg text-md">Bachelor of Engineering - Electrical Engineering</div>
					<div class="text-blue-600 font-bold md:text-sm text-xs">GPA: 3.8/4.0</div>
					<ul class="list-disc list-inside font-bold md:text-md text-sm">
						<li>Senior Electrical Engineering Student, Expected graduation April 2026</li>
						<li>Team Lead & Electrical Designer for Paradigm Engineering</li>
						<li>Power Subteam Member for MUNStar-1</li>
						<li>Student Advisor for Memorial University Student Design Hub</li>
						<li>J.M.C. Facey Engineering Scholarship</li>
						<li>NL Electoral District Scholarship</li>
						<li>Gov. of NL Research Inspired Student Enrichment (RISE) Award</li>
						<li>Entrance scholarships from the University of Waterloo, Queens University, and MUN</li>
						<li>Feildians Provincial Soccer team, 2015 - Present</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="experience" class="flex justify-center bg-white">
			<div class="flex flex-col items-center py-10">
				<div class="text-2xl font-bold">Experience</div>
				<hr class="w-16 h-1 my-4 border-0 bg-gray-500">
				<div class="grid md:grid-cols-2 gap-20 px-20 xl:px-[20%]">
					<ExperienceCard 
						link="https://www.solace.ca/" 
						image={solace} title="Solace Power - Hardware, Integration, and Testing" 
						desc="Solace Power focuses on wireless power systems and has become an industry leader in wireless power technology. They work in various industries, including telecommunications, automotive, and defense. As a design, integration, and testing co-op, my duties include:<ul class='list-disc list-outside pl-3'><li>Designing, populating, testing, and debugging PCBs for wireless power transfer systems.</li><li>Designing LC filters to reduce noise in RF power circuits using Altium Designer and LTSpice.</li><li>Designed a current sense PCB that successfully provides overcurrent protection for systems. This PCB was tested in various configurations on the Micro100 system, ultimately leading to the most efficient design, shutting down power to the system in 13 microseconds. The system contains a current sense IC, sense resistor, OR gate, and a flip flop to latch the output.</li><li>Testing systems using oscilloscopes, EMI analyzers, vector network analyzers, and impedance analyzers, to improve system power efficiency and to reduce disturbances in these systems.</li><li>Assembling and modifying boards containing surface mount components using various soldering and assembly tools.</li></ul>" 
						date="Apr 2024 - present"
					>
					</ExperienceCard>
					<ExperienceCard 
						link="https://munparadigm.com/" 
						image={paradigm} title="Paradigm Engineering - Team Lead & Electrical Designer" 
						desc="Paradigm Engineering is the largest design and competition team at the Memorial University of Newfoundland. The team has competed at the SpaceX Hyperloop Pod Competitions, The Boring Company's 'Not-a-Boring' competition, and the Intelligent Ground Vehicle competition. Paradigm is gearing up to compete in the Autonomous Karting Series in 2025, creating a fully autonomous, self-driving go-kart:<ul class='list-disc list-outside pl-3'><li>Designed a PCB to safely regulate and distribute power from a battery for the electrical system, and a control PCB allowing computers to communicate with mechanical components.</li><li>Designing a suitable racing system, sizing optimal components such as motors and batteries.</li><li>Conducting overall project management to maintain operational efficiency, guiding mechanical,electrical, software, and business sub-teams, optimizing team member utilization and maintaining a well-organized project timeline.</li><li>Principal liaison with sponsors and other stakeholders, raising over $40,000.</li></ul>" 
						date="Jan 2023 - present"
					>
					</ExperienceCard>
					<ExperienceCard 
						link="https://munstar-1.com/" 
						image={munstar} title="MUNStar-1 - Electrical Power System Designer" 
						desc="MUNStar-1 is a student design team based out of the Memorial University of Newfoundland. Its aim is to create a small satellite, called a CubeSat through the Canadian Space Agency's “CUBICS” Mission. The power subsystem supplies essential DC power to key components. The system includes a timer circuit PCB for a thirty-minute power-off period post-launch, called the inhibitor circuit:<ul class='list-disc list-outside pl-3'><li>Developed an inhibitor PCB to delay CubeSat power-up for the first 30 minutes post-launch, supplying DC power to all other subsystems after the 30 minutes</li><li>Researched optimal power supply options to work with existing systems on the teams satellite.</ul>"
						date="Jan 2023 - present"
					>
					</ExperienceCard>
					<ExperienceCard 
						link="https://nlhydro.com/" 
						image={hydro} title="Newfoundland and Labrador Hydro - Protection, Controls, and Communications Electrical Co-op" 
						desc="NL Hydro manages Newfoundland and Labrador's electricity system, generating and transmitting the vast majority of electricity used by people in the province every day. As a protection, controls, and communications co-op, I worked with the PCC team on the development of new generator-exciter systems. My duties included:<ul class='list-disc list-outside pl-3'><li>Designing, reviewing, and creating packages for generator excitation system upgrades. This included AC, DC, and exciter schematics, three-line diagrams, termination schedules, and protection and fault systems.</li><li>Supporting on-site construction and commissioning, creating as-built drawings for the new generator-exciter systems as modifications were made during construction.</li><li>Creating test plans for relays and faults on the completed systems. These plans successfully tested all precautions on the systems, ensuring all safety measures were met.</li>" 
						date="Aug - Dec 2023"
					>
					</ExperienceCard>
					<ExperienceCard 
						link="https://www.training-works.ca/" 
						image={trainingworks} title="Training Works - Software and Project Development Co-op" 
						desc="Training Works is a startup that specializes in creating the most up-to-date learning solutions to make the workforce safer, more productive, and future-ready. During my time there, I worked on the Ocean Supercluster Fatigue Risk Mitigation project, a project aimed at reducing safety risks for workers onboard vessels. My duties included:<ul class='list-disc list-outside pl-3'><li>Developing an app and online platform that links to a wireless armband for offshore workers to use. This system monitors workers' health during their shifts, alerting them of potential health risks.</li><li>Starting from the ground up, created the requirements for the project.</li><li>Tested the first release of the armband, platform, and app.</li><li>Storing, analyzing, and sharing data using Microsoft Visio, Power Automate, and Project.</li>" 
						date="Jan - Apr 2023"
					>
					</ExperienceCard>
					<ExperienceCard 
						link="https://cahill.ca/" 
						image={cahill} title="Cahill Technical Services - Instrumentation and Controls Electrical Co-op" 
						desc="CTS is an electrical, instrumentation & control engineering, and systems integration specialist. During my time at CTS, I worked on many programmable logic controller-based systems. My duties included:<ul class='list-disc list-outside pl-3'><li>Designing the layout, programming, and wiring of a system containing an Allen Bradley PLC for the Churchill Falls heating control.</li><li>Monitoring and exporting data for various systems, mainly sewage pumps and heating control, using VTSCADA.</li><li>Installing a PLC panel for a sewage pump, including wiring inputs and outputs, and programming the HMI.</li><li>Creating and interpreting drawings and circuit diagrams for PLC systems using AutoCAD.</li>" 
						date="Jan - Apr 2023"
					>
					</ExperienceCard>
					<ExperienceCard 
						link="https://verafin.com/" 
						image={verafin} title="Verafin - Summer Internships" 
						desc="Verafin is a fraud detection technology and anti-money laundering software company, focused on fighting financial crime. During my first summer at Verafin, my duties 	included:<ul class='list-disc list-outside pl-3'><li>Collecting and sorting data for Verafin's banking clients using Salesforce software and MS Excel.</li><li>Assisting the 	Anti Money Laundering team by collecting information for suspected fraudulent businesses.</li></ul>During my second summer, my duties included:<ul class='list-disc 	list-outside pl-3'><li>Learning to code using Python to help with development for the next generation of Verafin employees, and to assist with programming operations</li></	ul>" 
						date="July - Aug 2019, July - Aug 2021"
					>
					</ExperienceCard>
				</div>
			</div>
		</div>
		<Footer />	
	</body>
</html>
